<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>SUPABASE_KEY</key>
	<string>$(SUPABASE_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
		<string>fetch</string>
		<string>audio</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your location is used to show your position on the map, get distance to nearby statues, and determine which audio of statue to play.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is used to show your position on the map, get distance to nearby statues, and determine which audio of statue to play.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to show your position on the map, get distance to nearby statues, and determine which audio of statue to play.</string>
</dict>
</plist>
